[submodule "temp_sense_pi"]
	path = temp_sense_pi
	url = https://github.com/jumbobumbo/temp_sense_pi.git
[submodule "flask_mysql_db"]
	path = flask_mysql_db
	url = https://github.com/jumbobumbo/flask-db.git
[submodule "esp32_temp_sensor"]
	path = esp32_temp_sensor
	url = https://github.com/jumbobumbo/esp32_temp_sensor.git
[submodule "web_graph"]
	path = web_graph
	url = https://github.com/jumbobumbo/web_graph.git
